{# /cases/:caseId/charges/discontinue/check #}
{% extends "_shared/layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'details' %}
{% set bodyClasses = "dcf-materials-wide" %}

{% set captionName = charge.chargeCode + " - " + defendant.firstName + " " + defendant.lastName %}

{% set chargeStatus = "Put" %}

{% block content %}
  {% include "_shared/_includes/case/dcf-navigation.njk" %}
  {% include "_shared/_includes/success-banner-safe.njk" %}

  {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-m">{{ captionName }}</span>
      <h1 class="govuk-heading-l">Check details and discontinue charge</h1>
    </div>

    <div class="govuk-grid-column-two-thirds">

      {{ govukSummaryList({
        rows: [
          {
            key:   { text: "Charge code" },
            value: { text: charge.chargeCode }
          },
          {
            key:   { text: "Description" },
            value: { text: charge.description }
          },
          {
            key:   { text: "Reason for discontinuing" },
            value: { text: reasonForDiscontinue },
            actions: {
              items: [{
                href: "/cases/" + _case.id + "/charges/discontinue/index?returnUrl=/cases/" + _case.id + "/charges/discontinue/check",
                text: "Change",
                visuallyHiddenText: "reason for discontinuing"
              }]
            }
          }
        ]
      }) }}

      <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        <div class="govuk-button-group">
          {{ govukButton({ text: "Discontinue charge" }) }}
          <a href="/cases/{{ _case.id }}/details#defendants" class="govuk-link">Cancel</a>
        </div>
      </form>


    </div>
  </div>
{% endblock %}
