{% extends "layouts/main.html" %}

{% set navId = 'home' %}
{% set pageName = "Prototype" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        {{ pageName }}
      </h1>
     

      {% if urgentTaskCount > 0 or ctlTaskCount > 0 or stlTaskCount > 0 or paceTaskCount > 0 %}
        <div class="app-overview-cards govuk-!-margin-bottom-9">
          {% if stlTaskCount > 0 %}
            <a href="/tasks/shortcut/stl" class="app-overview-card app-overview-card--purple">
              <span class="app-overview-card__count">DCF Materials</span>
              <span class="app-overview-card__status">
                Go to task list
              </span>
            </a>
          {% endif %}

        </div>
      {% endif %}


    </div>
  </div>
{% endblock %}
