{# app/views/v2/cases/material/generate-cps-documents/defendants-alternative.html #}

{% extends "_shared/layouts/main.html" %}

{% set bodyClasses = "dcf-materials-wide" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'materials' %}

{% set pageName = 'Defendant documents' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/cases/" ~ _case.id ~ "/material/generate-cps-documents/case-documents"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-m">
        {{ _case.reference }} – Generate CPS documents
      </span>

      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      {% set docs = caseMaterialsGenerateDocuments or {} %}
      {% set defendants = docs.defendants or [] %}

      <form method="post">

        <input type="hidden" name="returnUrl" value="{{ query.returnUrl }}">

        {% if defendants.length == 0 %}
          <p class="govuk-body">There are no defendants on this case.</p>
        {% else %}

          {% for d in defendants %}

            <h3 class="govuk-heading-m">{{ d.name }}</h3>

            <table class="govuk-table" data-module="moj-multi-select" data-id-prefix="defendant-{{ d.id }}-">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col" id="defendant-{{ d.id }}-select-all"></th>
                  <th class="govuk-table__header" scope="col">Document</th>
                  <th class="govuk-table__header" scope="col">Last generated</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="{{ d.id }}-charge-information" name="defendants[{{ d.id }}][documents]" value="charge-information">
                      <label class="govuk-label govuk-checkboxes__label" for="{{ d.id }}-charge-information">
                        <span class="govuk-visually-hidden">Select Charge Information</span>
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell">Charge Information</td>
                  <td class="govuk-table__cell">Not previously generated</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="{{ d.id }}-otic" name="defendants[{{ d.id }}][documents]" value="otic">
                      <label class="govuk-label govuk-checkboxes__label" for="{{ d.id }}-otic">
                        <span class="govuk-visually-hidden">Select Offences Taken Into Consideration</span>
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell">Offences Taken Into Consideration</td>
                  <td class="govuk-table__cell">Not previously generated</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="{{ d.id }}-breach-of-bail" name="defendants[{{ d.id }}][documents]" value="breach-of-bail">
                      <label class="govuk-label govuk-checkboxes__label" for="{{ d.id }}-breach-of-bail">
                        <span class="govuk-visually-hidden">Select Breach of Bail Condition</span>
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell">Breach of Bail Condition</td>
                  <td class="govuk-table__cell">Not previously generated</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="{{ d.id }}-remand-application" name="defendants[{{ d.id }}][documents]" value="remand-application">
                      <label class="govuk-label govuk-checkboxes__label" for="{{ d.id }}-remand-application">
                        <span class="govuk-visually-hidden">Select Remand Application</span>
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell">Remand Application</td>
                  <td class="govuk-table__cell">Not previously generated</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="{{ d.id }}-candidate-court-orders" name="defendants[{{ d.id }}][documents]" value="candidate-court-orders">
                      <label class="govuk-label govuk-checkboxes__label" for="{{ d.id }}-candidate-court-orders">
                        <span class="govuk-visually-hidden">Select Candidate Court Orders</span>
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell">Candidate Court Orders</td>
                  <td class="govuk-table__cell">Not previously generated</td>
                </tr>

              </tbody>
            </table>

          {% endfor %}

        {% endif %}

        <div class="govuk-button-group govuk-!-margin-top-6">
          {{ govukButton({ text: "Continue" }) }}
          <a class="govuk-link" href="/cases/{{ _case.id }}/material?tab=view-materials">Cancel</a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}