{# /cases/:caseId/charges/edit/select-victim #}
{% extends "_shared/layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'details' %}
{% set bodyClasses = "dcf-materials-wide" %}

{% set captionName = "Edit charge: " + charge.chargeCode + " - " + defendant.firstName + " " + defendant.lastName %}

{% block content %}
  {% include "_shared/_includes/case/dcf-navigation.njk" %}
  {% include "_shared/_includes/success-banner-safe.njk" %}

  {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {% set victimItems = [] %}

        {% for victim in victims %}
          {% set _ = victimItems.push({
            value: victim.id | string,
            text: victim.name,
            hint: { text: victim.status },
            checked: data["victimId"] == victim.id | string
          }) %}
        {% endfor %}

        {% set _ = victimItems.push({ divider: "or" }) %}
        {% set _ = victimItems.push({
          value: "none",
          text: "There is no victim associated with this charge",
          checked: data["victimId"] == "none"
        }) %}

        {{ govukRadios({
          name: "victimId",
          fieldset: {
            legend: {
              html: '<span class="govuk-caption-m">' + captionName + '</span>Select victim',
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: victimItems
        }) }}

        <div class="govuk-button-group govuk-!-margin-top-6">
          {{ govukButton({ text: "Continue" }) }}
        </div>

      </form>

    </div>
  </div>
{% endblock %}