{# /cases/:caseId/charges/edit/single-date #}
{% extends "_shared/layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'details' %}
{% set bodyClasses = "dcf-materials-wide" %}

{% set captionName = "Edit charge: " + charge.chargeCode + " - " + defendant.firstName + " " + defendant.lastName %}

{% block content %}
  {% include "_shared/_includes/case/dcf-navigation.njk" %}
  {% include "_shared/_includes/success-banner-safe.njk" %}

  {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukDateInput({
          id: "offence-date",
          namePrefix: "offenceDate",
          fieldset: {
            legend: {
              html: '<span class="govuk-caption-m">' + captionName + '</span>Date of offence',
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: { text: "For example, 27 3 2024" },
          items: [
            {
              name: "day",
              classes: "govuk-input--width-2",
              value: data["offenceDate-day"]
            },
            {
              name: "month",
              classes: "govuk-input--width-2",
              value: data["offenceDate-month"]
            },
            {
              name: "year",
              classes: "govuk-input--width-4",
              value: data["offenceDate-year"]
            }
          ]
        }) }}

        <div class="govuk-button-group govuk-!-margin-top-6">
          {{ govukButton({ text: "Continue" }) }}
          <a href="#" class="govuk-link">Cancel</a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}