{# /cases/:caseId/charges/edit/summary #}
{% extends "_shared/layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'details' %}
{% set bodyClasses = "dcf-materials-wide" %}

{% set captionName = "Edit charge: " + charge.chargeCode + " - " + defendant.firstName + " " + defendant.lastName %}

{% block content %}
  {% include "_shared/_includes/case/dcf-navigation.njk" %}
  {% include "_shared/_includes/success-banner-safe.njk" %}

  {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {# ── Resolve what has changed ─────────────────────────────── #}
      {% set dateChanged   = data["correctDate"] == "Yes" %}
      {% set victimChanged = data["hasVictim"]   == "Yes" %}

      {% if dateChanged or victimChanged %}
        {% if dateChanged and victimChanged %}
          {% set changedText = "the charge date and victim" %}
        {% elif dateChanged %}
          {% set changedText = "the charge date" %}
        {% else %}
          {% set changedText = "the victim" %}
        {% endif %}

        {{ govukNotificationBanner({
          type: "important",
          html: "<p class=\"govuk-body\">You have edited " + changedText + ". Ensure the particulars reflect the changes.</p>"
        }) }}
      {% endif %}


      <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukRadios({
          name: "chargeParticularsCorrect",
          fieldset: {
            legend: {
              html: '<span class="govuk-caption-m">' + captionName + '</span>Do you want to edit the charge particulars?',
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: data["chargeParticularsCorrect"] == "Yes"
            },
            {
              value: "No",
              text: "No",
              checked: data["chargeParticularsCorrect"] == "No"
            }
          ]
        }) }}


          {{ govukInsetText({
            text: charge.particulars
          }) }}

        <div class="govuk-button-group govuk-!-margin-top-6">
          {{ govukButton({ text: "Continue" }) }}
          <a href="#" class="govuk-link">Cancel</a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}