{# app/views/_shared/_includes/success-banner.njk #}

{% if successBanner %}
  {% set bannerHtml = "" %}

  {% if successBanner.text is string and (successBanner.text | trim) %}
    {% set bannerHtml = "<p class='govuk-notification-banner__heading'>" + (successBanner.text | trim) + "</p>" %}
  {% endif %}

  {# IMPORTANT: titleText is hard-coded so it can NEVER be undefined #}
  {{ govukNotificationBanner({
    classes: "app-margin-top-negative-3 govuk-!-margin-bottom-9",
    type: "success",
    titleText: "Action completed",
    html: bannerHtml
  }) }}
{% endif %}