{# ----- Layout ---- call the material-panel macro below ----- #}

{% block content %}
  {{ appMaterialPanel({ caseMaterials: data.caseMaterials, generateDocuments: generateDocuments }) }}

  {# Notes side-tray modal for materials viewer #}
  {% include "_shared/_includes/case/material/notes-modal.njk" %}

  {# Redact popover + sticky footer for the materials viewer's "Redact
     this document" button #}
  {% include "_shared/_includes/case/material/material-redact-popover.njk" %}

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/utils/govuk-date.js" defer></script>
  <script src="/public/javascripts/components/material-search.js" defer></script>
  <script src="/public/javascripts/components/material-viewer.js" defer></script>
  <script src="/public/javascripts/components/material-redact.js" defer></script>
  <script src="/public/javascripts/components/material-redact-popover.js" defer></script>
{% endblock %}

