{# _shared/_includes/case/details/main-tabs.njk #}

{# ---------- Overview tab ---------- #}
{% set overviewHtml %}
  <div class="case-layout">

    {# Progress / stages #}
    {% include "_shared/_includes/case/details/progress-panel.njk" %}

    {# 3-column area #}
    <div class="case-grid">
      <div class="contacts-box">
        {% include "_shared/_includes/case/details/contacts-panel.njk" %}
      </div>

      <div class="tasks-box">
        {% include "_shared/_includes/case/details/tasks-panel.njk" %}
      </div>

      <div class="monitoring-box">
        {% include "_shared/_includes/case/details/monitoring-panel.njk" %}
      </div>
    </div>
  </div>
{% endset %}


{# ---------- Other tabs ---------- #}


{% set caseOutlineHtml %}
  <h3 class="govuk-heading-m">Case outline</h3>
  {% include "_shared/_includes/case/details/outline-panels.njk" %}
{% endset -%}

{% set defendantsHtml %}
  <h3 class="govuk-heading-m">Defendants</h3>
  {% include "_shared/_includes/case/details/defendants.njk" %}
{% endset -%}

{% set witnessesHtml  %}<h3 class="govuk-heading-m">Witnesses</h3>{% endset -%}

{# Re-use the same contacts panel as Overview, but full width #}
{% set contactsHtml %}
  <div class="contacts-box contacts-box--tab">
    {% include "_shared/_includes/case/details/contacts-panel.njk" %}
  </div>
{% endset -%}


{{ govukTabs({
  id: "case-tabs",
  items: [
    { label: "Overview",   id: "overview",      panel: { html: overviewHtml } },
    { label: "Outline",    id: "case-outline",  panel: { html: caseOutlineHtml } },
    { label: "Defendants", id: "defendants",    panel: { html: defendantsHtml } },
    { label: "Witnesses",  id: "witnesses",     panel: { html: witnessesHtml } },
    { label: "Contacts",   id: "contacts",      panel: { html: contactsHtml } }
  ]
}) }}
