{# _shared/_includes/case/details/tasks-panel.njk #}

{# Allow the route to pass in tasks; fall back to placeholder data #}
{% set tasks = tasks or [
{
    name: "Retrieve core details",
    dueDate: "24 April 2026",
    status: "Done",
    owner: "Joe Bloggs",
    hasWarning: false
  },
  {
    name: "Prepare victim letter",
    dueDate: "15 March 2026",
    status: "Done",
    owner: "Anni Arryuokay",
    hasWarning: false
  },
  {
    name: "Request upgrade file",
    dueDate: "06 Feb 2026",
    status: "Done",
    owner: "Frank Bobbins",
    hasWarning: false
  }
] %}

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Tasks
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="#">
          Task list
        </a>
      </li>
    </ul>
  </div>

  <div class="govuk-summary-card__content">
    {% if tasks | length %}
      <table class="govuk-table case-tasks-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">
              Task
            </th>
            <th scope="col" class="govuk-table__header">
              Due date
            </th>
            <th scope="col" class="govuk-table__header">
              Status
            </th>
             <th scope="col" class="govuk-table__header">
              Owner
            </th>
            <th scope="col" class="govuk-table__header">
              Action
            </th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-visually-hidden">
              Go to task
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for task in tasks %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell case-task-name">
                {{ task.name }}
              </td>
              <td class="govuk-table__cell case-task-due">
                {{ task.dueDate }}
                {% if task.hasWarning %}
                  <span class="case-task-warning-icon" aria-hidden="true"></span>
                  <span class="govuk-visually-hidden">Due soon</span>
                {% endif %}
              </td>
              <td class="govuk-table__cell case-task-role">
                <strong class="govuk-tag">
                  {{ task.status }}
                </strong>
              </td>  
              <td class="govuk-table__cell case-task-name">
                {{ task.owner }}
              </td>
              <td class="govuk-table__cell case-task-role">
                <a class="govuk-link" href="#">
                  Start task
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="govuk-body-s govuk-!-margin-bottom-0">
        There are no tasks for this case.
      </p>
    {% endif %}
  </div>
</div>
