{# app/views/index.html #}

{% extends "_shared/layouts/main.html" %}

{% set pageName="Home" %}

{% block header %}
  {% include "_shared/_includes/header.njk" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">DCF prototype</h1>

    {# <p class="govuk-body">
      Explores charge management workflows within DCF — covering how prosecutors view, edit,
      and act on charges, from editing charge details to proposing and revoking discontinuances.
    </p> #}

    <p class="govuk-body">
      <a class="govuk-link" href="/prototype-menu">Go to prototype</a>
    </p>

  </div>
</div>



{% endblock %}
